@model QLNS_TDPS.Models.NhanVien

@{
    ViewBag.Title = "Thêm mới";
}
@section header{
    Thêm mới nhân viên
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Nhập thông tin nhân viên</b>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Create", "NhanVien", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.HoLotNV, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.HoLotNV, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.HoLotNV, "", new { @class = "text-danger" })
                                    </div>
                                    @Html.LabelFor(model => model.TenNV, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.TenNV, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TenNV, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.GioiTinh, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <div class="col-md-2">
                                            @Html.RadioButtonFor(model => model.GioiTinh, "true", new { @class = "radio-inline", @checked="checked" }) Nam
                                        </div>
                                        <div class="col-md-2">
                                            @Html.RadioButtonFor(model => model.GioiTinh, "false", new { @class = "radio-inline" }) Nữ
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.NgaySinh, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.NgaySinh, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                                    </div>
                                    @Html.LabelFor(model => model.NoiSinh, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.NoiSinh, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.NoiSinh, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.NguyenQuan, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.NguyenQuan, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.NguyenQuan, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.DienThoai, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.DienThoai, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
                                    </div>
                                    @Html.LabelFor(model => model.DienThoaiDD, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.DienThoaiDD, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.DienThoaiDD, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.TamTru, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.TamTru, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TamTru, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ThuongTru, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.ThuongTru, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ThuongTru, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.SoCMND, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.SoCMND, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SoCMND, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.NgayCapCMND, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.NgayCapCMND, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.NgayCapCMND, "", new { @class = "text-danger" })
                                    </div>
                                    @Html.LabelFor(model => model.NoiCapCMND, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.NoiCapCMND, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.NoiCapCMND, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.TinhTrangHonNhan, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.TinhTrangHonNhan, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TinhTrangHonNhan, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.QuocTich, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.QuocTich, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.QuocTich, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.MaDanToc, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.MaDanToc, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MaDanToc, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.MaTonGiao, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.MaTonGiao, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MaTonGiao, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.MaTo, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.MaTo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MaTo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.MaNgach, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.MaNgach, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MaNgach, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Lưu" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Quay lại", "Index","NhanVien")
</div>

